<%= link_to "Search", search_path %> < <%= link_to "#{@project.name}", project_path(@project) %>
<br />
<br />
<h2>PROJECT</h2>

<table>
  <%= @project.attributes.map { |param, value| "<tr><td>" + param.to_s + "</td><td>" + value.to_s + "</td></tr>" } %>
</table>

<h2>@bins</h2>
<table>
  <tr>
  <%= @bins.first.attributes.map { |param, value| "<th>" + param.to_s + "</th>" } %>
  </tr>
<% @bins.each do |bin| %>
<tr><%= bin.attributes.map { |param, value| "<td>" + value.to_s + "</td>" } %></tr>
<% end %>
</table>

<h2>Memberships(Users)</h2>
<table>
  <tr>
    <th colspan="2">Member</th>
    <%= @memberships.first.user.attributes.map { |param, value| "<th>" + param.to_s + "</th>" } %>
  </tr>
<% @memberships.each do |member| %>
  <tr valign="bottom">
    <td><img src="<%= 'https://westedinteractive.lighthouseapp.com/' + member.user.avatar_url %>" height="40px" ></td>
    <td><%= link_to member.user.name, user_path(member.user.id) %></td>
    <%= member.user.attributes.map { |param, value| "<td>" + value.to_s + "</td>" } %>
  </tr>
<% end %>
</table>